
 <%= render 'homes/header'  %>
<%= link_to '<i class="fab fa-500px"></i> Edit_infor'.html_safe,edit_user_registration_path(current_user),:class  => "btn btn-success text-white" %>
<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Date:</strong>
  <%= @user.date %>
</p>
