
  <section class="flex-container" id="header">
    <div class="navbar navbar-light bg-light">
      <div class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          MENU
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </div>
      <div class=" logo">
        <h1><a class="logo-name" href="https://beefas.com" itemprop="url">Beefas</a></h1>
      </div>
      <form class="form-inline w-50">
        <input class="form-control mr-sm-2 w-75" type="search" placeholder="Search" aria-label="Search">
      </form>
      <div class="nav-item" id="account">
        <a class="nav-link" href="#">Account</a>
      </div>
      <div class="nav-item" id="cart">
        <a class="nav-link" href="#">Cart</a>
      </div>
    </div>
  </section>

  <section class="flex-container " id="groupmenu">
    <div class="navbar navbar-light  bg-light">
      <div class="nav-item home">
        <a class="nav-link" href="#">Home</a>
      </div>
      <div class="nav-item">
        <a class="nav-link" href="#">Account</a>
      </div>
      <div class="nav-item">
        <a class="nav-link" href="#">Cart</a>
      </div>
      <div class="nav-item">
        <a class="nav-link" href="#">Account</a>
      </div>
      <div class="nav-item">
        <a class="nav-link" href="#">Cart</a>
      </div>
    </div>
  </section>
  <section id="collection-banner-header">
    <div id="carouselExampleIndicators" class="carousel slide container container-xs-pd0" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img class="d-block w-100" src="//theme.hstatic.net/200000469447/1000823175/14/collection_banner.jpg?v=128"
            alt="First slide">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="//theme.hstatic.net/200000469447/1000823175/14/collection_banner.jpg?v=128"
            alt="Second slide">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="//theme.hstatic.net/200000469447/1000823175/14/collection_banner.jpg?v=128"
            alt="Third slide">
        </div>
      </div>
      </a>
    </div>
  </section>
  <section id="promotion">
    <div class="container">
      <div class="prmotion_header">
        <h2> Ưu Đãi </h2>
        <div class="list_promotion ">
          <div class="promotion_item">
            <div title="Miễn phí giao hàng">
              <span class="title">Miễn phí giao hàng</span>
              <span class="content">3 đơn trở lên</span>
            </div>
          </div>
          <div class="promotion_item">
            <div title="Miễn phí giao hàng">
              <span class="title">Miễn phí giao hàng</span>
              <span class="content">3 đơn trở lên</span>
            </div>
          </div>
          <div class="promotion_item">
            <div title="Miễn phí giao hàng">
              <span class="title">Miễn phí giao hàng</span>
              <span class="content">3 đơn trở lên</span>
            </div>
          </div>
          <div class="promotion_item">
            <div title="Miễn phí giao hàng">
              <span class="title">Miễn phí giao hàng</span>
              <span class="content">3 đơn trở lên</span>
            </div>
          </div>

          <div>
          </div>
  </section>
  <section id="collection_index">
    <div class="collect_header">
      <div class="title">
        <h2> Thơi trang Nam </h2>
      </div>
    </div>
    <div class="collect_taxon">
      <div class="list_product_row row">
        <% @products.each do |product|%>
        <div class="product_row col-lg-3 col-6 mb-4   ">
          <div class = "product-loop ">
              <%= image_tag product.pictures.first.url,:class => "w-100" if product.pictures? %>
              <%=link_to  product.name ,product_path(product), :class => "name"  %>

              <div class = "add_cart">
                 <%= link_to 'Add to Cart',product_path(product) , :class => "btn btn-warning "%> 
          </div>
          </div>
          
        </div>
        <% end %>
      </div>

    </div>
  </section>