<div class="row p-5">
  <div class="col-5">
    <div class="p-3 mb-2">
      <div>
        <strong>Pictures:</strong>

      </div>
    </div>
  </div>
  <div class="col-7">
    <div>
      <p>
        <strong>Sku:</strong>
        <%= @variant.sku %>
      </p>
      <p>
        <strong>Cost_price:</strong>
        <%= @variant.cost_price %>
      </p>
      <p>
        <strong>Size:</strong>
        <%= @variant.size %>
      </p>

      <p>
        <strong>color:</strong>
        <%= @variant.color %>
      </p>
    </div>
  </div>
</div>