/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
*= require toastr
 /* app/asssets/javascripts/application.css 
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

 #groupmenu{
     .home{
        cursor: pointer;
        font-size: 14px;
        height: 100%;
        font-weight: 500;
        background: #10c6e3;
        border-radius: 5px;
        text-align: center;
        padding: 10px 10px;
        align-items: center;
        justify-content: center;
        a{
            color: #ffff;
        }

     }
 }
 #collection-banner-header{
     img{
     max-width: 1140px;
     max-height: 280px;
    }
    
 }
 